.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.primaryTitle {
    font-size: 1.5rem;
    text-align: center;
}

.primaryTitle, .errorMessage {
    margin-bottom: 1.5rem;
}

.errorMessage {
    color: #f00;
    text-align: center;
}

.inputField {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.input {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
}

.primaryButton {
    background-color: #265DA4;
    border: none;
    font-size: 0.875rem;
    font-weight: bold;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

.input, .primaryButton {
    padding-block: 0.75rem;
    padding-inline: 1rem;
}